<coral-dialog id="caconfig-addCollectionItemModal" closable="on"
     ng-controller="AddCollectionItemController as addCollectionItem"
     bindonce>
  <coral-dialog-header bo-text="i18n('modal.addCollectionItem.title')"></coral-dialog-header>
  <coral-dialog-content>
    <form class="coral-Form coral-Form--vertical" name="addCollectionItemForm" novalidate>
      <section class="coral-Form-fieldset">
      <div class="coral-Form-fieldwrapper">
          <label class="coral-Form-fieldlabel" bo-text="i18n('config.name')"></label>
          <i class="coral-Form-fielderror coral-Icon coral-Icon--alert"
             data-init="quicktip" data-quicktip-arrow="right" data-quicktip-type="error"
             bo-attr
             bo-attr-data-quicktip-content="i18n('modal.tooltip.unique')"
             role="img" tabindex="0"
             ng-show="addCollectionItem.blacklist.indexOf(addCollectionItem.newCollectionName) !== -1"></i>
          <i class="coral-Form-fielderror coral-Icon coral-Icon--alert"
             data-init="quicktip" data-quicktip-arrow="right" data-quicktip-type="error"
             bo-attr
             bo-attr-data-quicktip-content="i18n('modal.tooltip.allowed')"
             role="img" tabindex="0"
             ng-show="addCollectionItemForm.collectionItemName.$error.pattern"></i>
          <input class="coral-Form-field coral-Textfield"
                 ng-class="{'ng-dirty ng-invalid' : (addCollectionItem.blacklist.indexOf(addCollectionItem.newCollectionName) !== -1)}"
                 id="caconfig-collectionItemName" name="collectionItemName"
                 type="text" placeholder="Item Name"
                 ng-model="addCollectionItem.newCollectionName" ng-pattern="addCollectionItem.itemTitleRegex">
        </div>
      </section>
    </form>
  </coral-dialog-content>
  <coral-dialog-footer>
    <button class="coral-Button coral-Button--primary" data-dismiss="modal" type="button"
            ng-disabled="!addCollectionItemForm.$valid
                         || addCollectionItem.blacklist.indexOf(addCollectionItem.newCollectionName) !== -1
                         || !addCollectionItem.newCollectionName"
            ng-click="addCollectionItem.addItem()" bo-text="i18n('button.ok')">
    </button>
    <button class="coral-Button coral-Button--secondary" data-dismiss="modal"
            type="button" bo-text="i18n('button.cancel')">
    </button>
  </coral-dialog-footer>
</coral-dialog>
