<coral-dialog id="caconfig-saveConfigModal" closable="on" variant="warning"
     ng-controller="SaveConfigController as saveConfig"
     bindonce>
  <coral-dialog-header bo-text="i18n('modal.saveConfig.title')"></coral-dialog-header>
  <coral-dialog-content>
    <p bo-text="i18n('modal.saveConfig.message')"></p>
  </coral-dialog-content>
  <coral-dialog-footer>
    <button class="coral-Button coral-Button--primary" data-dismiss="modal"
            type="button"
            ng-click="saveConfig.saveConfigWithRedirect()"
            bo-text="i18n('button.save')">
    </button>
    <button class="coral-Button coral-Button--secondary"  data-dismiss="modal"
            type="button"
            ng-click="goToRedirectUrl()"
            bo-text="i18n('button.discard')">
    </button>
    <button class="coral-Button coral-Button--secondary" data-dismiss="modal"
            type="button"
            bo-text="i18n('button.cancel')">
    </button>
  </coral-dialog-footer>
</coral-dialog>
